page-login {
  background: url("../assets/imgs/bg.gif");
  background-size: cover;

  .header {

    &::after {
      content: unset;
    }

    .close-btn {
      width: 36px;
    }
  }

  .content {
    background: linear-gradient(color($colors, 'primary'), rgba(color($colors, 'primary'), 0.2));
  }

  .footer {
    &::before {
      content: unset;
    }
  }

  .buttons-container {
    .button {
      height: 44px;

      .icon {
        position: absolute;
        left: 12px;
        color: color($colors, 'light');
        font-size: 25px;
      }
    }

    .or-separator {
      height: 30px;
      color: color($colors, 'light');
      display: flex;
      justify-content: center;
      align-items: center;

      .sep-line {
        height: 1px;
        background: color($colors, 'light');
        display: inline-block;
        width: 50px;
      }

      span {
        margin: 0 10px;
      }
    }

    .signup-btn {
      background: rgba(color($colors, 'light'), 0.1);
    }

    p {
      color: color($colors, 'light');
      font-size: 10px;
      text-align: center;
    }
  }
}
