<div class="search-section home-section" padding>
  <h5>Hotels</h5>
  <div class="search-box">
    <ion-item no-lines>
      <ion-label><ion-icon name="calendar"></ion-icon> Check-in date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item no-lines>
      <ion-label><ion-icon name="calendar"></ion-icon> Check-out date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Rooms</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Adults</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label>Children</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item (tap)="openCountryModal()">
      <ion-label>Choose Country</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item (tap)="openCityModal()">
      <ion-label>Choose City</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <button ion-button block (click)="openResults()">Search</button>
  </div>
</div>
