<ion-header>
  <ion-navbar>
    <ion-buttons style="order: 0">
      <button ion-button icon-only clear round color="light" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
    </ion-buttons>
    <ion-title>Choose City</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
    <button ion-item>City 1</button>
  </ion-list>
</ion-content>
