<ion-header>
  <ion-navbar>
    <ion-title>{{hotel.title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only>
        <ion-icon name="ios-heart-outline"></ion-icon>
      </button>
      <button ion-button clear icon-only>
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-button clear icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides pager *ngIf="hotel.sliderImages">
      <ion-slide *ngFor="let image of hotel.sliderImages">
        <img [src]="image.fullImage" alt="slider image">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="name-section" padding>
    <h5>{{hotel.title}}</h5>
    <div class="rate">
      <ion-icon name="star" *ngFor="let item of helper.makeArray(hotel.starsCount)"></ion-icon>
    </div>
  </div>
  <div class="page-separator"></div>
  <div class="description-section" padding>
    <h5>Description</h5>
    <p>{{hotel.desc}}</p>
    <!--<button ion-button clear>Read full description</button>-->
  </div>
  <div class="page-separator"></div>
  <div class="description-section" padding>
    <h5>Amenities</h5>
    <ion-row>
      <ion-col col-6 *ngFor="let amenity of hotel.amenities">
        <div class="hotel-amenity">
          <img [src]="amenity.icon">
          <span>{{amenity.name}}</span>
        </div>
      </ion-col>
    </ion-row>
    <!--<button ion-button clear>Read full description</button>-->
  </div>
  <div class="page-separator"></div>
  <div class="reviews-section" padding *ngIf="reviews">
    <h5>Reviews</h5>
    <p>What guests talk about the most</p>
    <ion-card *ngFor="let review of reviews">
      <ion-card-content>
        <h2>{{review.review_name}}</h2>
        <span class="review-rate">{{review.review_overall}}</span>
        <span class="date">{{review.review_date}}</span>
        <p margin-top>{{review.review_comment}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <button ion-button block (click)="openRoomList()">See your options</button>
</ion-footer>
