<ion-header>
  <ion-navbar>
    <ion-title>{{hotel.title}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only>
        <ion-icon name="ios-heart-outline"></ion-icon>
      </button>
      <button ion-button clear icon-only>
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="openPopoverMenu($event)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-slides pager *ngIf="hotel.sliderImages">
      <ion-slide *ngFor="let image of hotel.sliderImages">
        <img [src]="image.fullImage" alt="slider image">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="name-section" padding>
    <h5>{{hotel.title}}</h5>
    <div class="rate">
      <ion-icon name="star" *ngFor="let item of helper.makeArray(hotel.starsCount)"></ion-icon>
    </div>
  </div>
  <div class="page-separator"></div>
  <div class="map-section">
    <div #map id="map"></div>
    <div class="location" *ngIf="hotel.mapAddress" padding>
      {{hotel.mapAddress}}
    </div>
  </div>
  <div class="page-separator"></div>
  <div class="average-reviews-section" *ngIf="averageReviews" padding>
    <h5>Average rates</h5>
    <ion-row>
      <ion-col col-12 text-center>
        <strong>Overview: {{averageReviews.overall}}</strong>
      </ion-col>
      <ion-col col-6>
        Clean: {{averageReviews.clean}}
      </ion-col>
      <ion-col col-6>
        Comfort: {{averageReviews.comfort}}
      </ion-col>
      <ion-col col-6>
        Location: {{averageReviews.location}}
      </ion-col>
      <ion-col col-6>
        Facilities: {{averageReviews.facilities}}
      </ion-col>
      <ion-col col-6>
        Staff: {{averageReviews.staff}}
      </ion-col>
    </ion-row>
  </div>
  <div class="page-separator"></div>
  <div class="description-section" padding>
    <h5>Description</h5>
    <p>{{hotel.desc}}</p>
    <!--<button ion-button clear>Read full description</button>-->
  </div>
  <div class="page-separator"></div>
  <div class="description-section" padding>
    <h5>Amenities</h5>
    <ion-row>
      <ion-col col-6 *ngFor="let amenity of hotel.amenities">
        <div class="hotel-amenity">
          <img [src]="amenity.icon">
          <span>{{amenity.name}}</span>
        </div>
      </ion-col>
    </ion-row>
    <!--<button ion-button clear>Read full description</button>-->
  </div>
  <div class="page-separator"></div>
  <div class="reviews-section" padding *ngIf="reviews">
    <h5>Reviews</h5>
    <p>What guests talk about the most</p>
    <ion-card *ngFor="let review of reviews">
      <ion-card-content>
        <h2>{{review.review_name}}</h2>
        <span class="review-rate">{{review.review_overall}}</span>
        <span class="date">{{review.review_date}}</span>
        <p margin-top>{{review.review_comment}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="page-separator"></div>
  <div class="payment-options" *ngIf="hotel.paymentOptions">
    <h5 margin-left>Payment options</h5>
    <ion-list>
      <ion-item *ngFor="let payment of hotel.paymentOptions">
        <ion-avatar item-start>
          <img [src]="payment.icon" (error)="imageFailed($event)">
        </ion-avatar>
        <h2>{{payment.name}}</h2>
      </ion-item>
    </ion-list>
  </div>
  <div class="page-separator"></div>
  <div class="policy-section" padding>
    <h5>Policy</h5>
    <p>{{hotel.policy}}</p>
  </div>
  <div class="page-separator"></div>
  <div class="related-items-section" padding>
    <h5>Related Items</h5>
    <ion-slides slidesPerView="1.7">
      <ion-slide *ngFor="let item of hotel.relatedItems">
        <hotel-box [hotel]="item"></hotel-box>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer>
  <button ion-button block (click)="openRoomList()">See your options</button>
</ion-footer>
