<ion-header>
  <ion-navbar>
    <!--<ion-title>Choose your stay<br><sub>Nov 15 - Nov 16</sub></ion-title>-->
    <ion-title>Choose your stay</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only>
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-button clear icon-only>
        <ion-icon name="logo-usd"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card [ngClass]="{'selected': selectedRooms[i] && room.id == selectedRooms[i].id}" *ngFor="let room of rooms; let i = index">
    <ion-card-content>
      <div (click)="openRoomDetails(room)">
        <h6 class="name">{{room.title}}</h6>
        <p>Price for: {{room.maxAdults}} Adults and {{room.maxChild}} Child</p>
        <p *ngIf="room.extraBeds">Extra beds: {{room.extraBeds}} bed</p>
        <!--<ion-row class="advs">-->
        <!--<ion-col col-6 *ngFor="let amenity of room.Amenities">-->
        <!--<span class="amenity"><img [src]="amenity.icon" (error)="imageFailed($event)"> <span>{{amenity.name}}</span></span>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <div class="price" text-right>
          <h1>{{room.currCode}} {{room.price}}</h1>
          <p *ngIf="room.extrabedCharges">{{room.currCode}} {{room.extrabedCharges}} extra bed charges</p>
        </div>
      </div>
      <ion-row *ngIf="!selectedRooms[i] || room.id != selectedRooms[i].id">
        <ion-col>
          <button ion-button outline block (click)="selectRoom(room, i)">Select</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="selectedRooms[i] && room.id == selectedRooms[i].id">
        <ion-col col-10>
          <button ion-button outline block (click)="selectQuantity($event, room, i)">
            <div class="btn-dropdown">
              <span>{{selectedRooms[i].quantity}} room selected</span>
              <ion-icon name="arrow-dropdown"></ion-icon>
            </div>
          </button>
        </ion-col>
        <ion-col col-2>
          <button ion-button outline block (click)="deselectRoom(i)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-5 padding>
      <h6 no-margin>Fits 0 of 2</h6>
      <p no-margin>adults</p>
    </ion-col>
    <ion-col col-7>
      <button ion-button full>Reserve</button>
    </ion-col>
  </ion-row>
</ion-footer>
