page-room-list {
  .card {
    border: solid 1px transparent;
  }

  .name {
    font-weight: bold;
  }

  .footer {
    .button {
      height: 46px;
    }
  }

  //.advs {
  //  display: flex;
  //  flex-wrap: wrap;
  //
    .amenity {
      display: flex;
      white-space: nowrap;
      align-items: center;

      img {
        width: 10px;
        height: 10px;
        margin-right: 10px;
      }

      span {
        flex: 1;
        white-space: normal;
        font-size: 10px;
      }
    }

  .selected {
    border: solid 1px color($colors, 'primary');
  }

  .btn-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  //}
}
